.App {
  margin: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App Container {
  text-align: center;
}

.App h1 {
  font-size: 35px;
  text-align: center;
  color: white;
}

.App h3 {
  font-size: 20px;
  text-align: center;
  color: black;
}

.App #current-city {
  color: #f7e129;
  font-size: 18px;
  text-align: center;
}

.App #current {
  letter-spacing: 1px;
}
