.App {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App Col {
  text-align: center;
}

.App #Container.rounded.container {
  background-color: rgba(5, 16, 31, 0.8);
}

.App h1 {
  font-size: 35px;
  text-align: center;
}

.App h3 {
  font-size: 20px;
  text-align: center;
  color: #eb6e4beb;
}
