Container {
  text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #ffc107;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: black;
}

#current-time {
  font-size: 15px;
  display: inline;
  color: white;
}

#currently {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 3px;
  color: #ffc107;
  text-align: center;
}
