form {
  width: 512px;
  margin: 0 auto;
}

button {
  background-color: transparent;
}

.temperature {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  letter-spacing: -2px;
}

.degrees {
  position: relative;
  top: -30px;
  letter-spacing: -2px;
}

.card-img-top {
  max-width: auto;
  display: block;
  margin: 0 auto;
}

#current-png {
  margin-left: 8px;
  display: inline;
}

#current-temp {
  font-size: 43px;
}

#cel {
  color: #ffc107;
}

#descrip.card-text {
  font-size: large;
  font-weight: 650;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 4px;
}

#descrip.card-text::first-letter {
  text-transform: uppercase;
}

#feels.card-text {
  font-size: smaller;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#humidity.card-text {
  font-size: smaller;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#wind.card-text {
  font-size: smaller;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
