form {
  width: 512px;
  margin: 0 auto;
}

button {
  background-color: transparent;
}

.degrees {
  position: relative;
  top: -30px;
  left: -10px;
  letter-spacing: -8px;
}

.card-img-top {
  max-width: auto;
  display: block;
  margin: 0 auto;
}

#search-text-input {
  margin-right: 4px;
}

#current-png.weather-icon {
  margin-left: 55px;
  margin-top: 0px;
  position: relative;
  top: -20px;
  right: -20px;
}

#current-temp {
  font-size: 63px;
  font-weight: 600;
  position: relative;
  top: 10px;
  right: 5px;
}

#cel {
  color: #f7e129;
}

#descrip.card-text {
  font-size: x-large;
  font-weight: 400;
  padding-bottom: 6px;
  padding-top: 0px;
}

#descrip.card-text::first-letter {
  text-transform: uppercase;
}

#humidity.card-text {
  font-size: medium;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 8px;
}

#wind.card-text {
  font-size: medium;
  font-weight: 400;
  letter-spacing: 0.75px;
}
