form {
  width: 512px;
  margin: 0 auto;
}

.degrees {
  position: relative;
  top: -30px;
  left: -10px;
  letter-spacing: -8px;
}

#search-text-input {
  margin-right: 4px;
}

#current-png {
  margin-left: 55px;
  margin-top: 0px;
  position: relative;
  top: -4px;
  right: -20px;
}

#currently {
  position: relative;
  top: -5px;
  font-size: large;
  color: #f7e129;
  letter-spacing: 1px;
}

#current-temp {
  font-size: 63px;
  font-weight: 600;
}

#cel {
  color: #f7e129;
}

#humidity.card-text {
  font-size: medium;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 8px;
}

#wind.card-text {
  font-size: medium;
  font-weight: 400;
  letter-spacing: 0.75px;
}
